---
import Footer from '../components/footer.astro';
import Navbar from '../components/navbar.astro';
import About from '../components/sections/about.astro';
import Articles from '../components/sections/articles.astro';
import Home from '../components/sections/home.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Easybank</title>
	</head>
	<body class="font-public-sans ">
		<Navbar/>
    <Home/>
    <About/>
    <Articles/>
    <Footer/>
	</body>
</html>
