

<footer class="bg-dark-blue p-8 text-white">
  <main class="container mx-auto">

    <div class="grid md:grid-cols-3 justify-center text-center">
      <div>

        <img src="/logo-white.svg" alt="Easybank" class="mx-auto">
        <div class="flex justify-center gap-4 py-8">
          <a href="#"><img src="/images/icons/icon-facebook.svg" alt="facebook"></a>
          <a href="#"><img src="/images/icons/icon-youtube.svg" alt="youtube"></a>
          <a href="#"><img src="/images/icons/icon-twitter.svg" alt="twitter"></a>
          <a href="#"><img src="/images/icons/icon-pinterest.svg" alt="pinterest"></a>
          <a href="#"><img src="/images/icons/icon-instagram.svg" alt="instagram"></a>
        </div>
      </div>
      <div class="flex flex-col gap-4 mb-4">
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Blog</a>
      </div>
      <div class="flex flex-col gap-4 mb-4">
        <a href="#">Careers</a>
        <a href="#">Support</a>
        <a href="#">Privacy Policy</a>
      </div>
      <div class="my-4 flex flex-col items-center gap-8 md:col-span-3">
        <button class=" bg-gradient-to-l text-white hover:opacity-70 transition-opacity py-3 px-8 rounded-full to-lime-green from-bright-cyan">
          Request Invite
        </button>
        <p class="text-grayish-blue">© Easybank. All Rights Reserved</p>
      </div>
    </div>
  </main>
</footer>