

<nav class="bg-white " >
  <div class="flex justify-between items-center container mx-auto relative  p-6 lg:p-4">
    <img src="/logo.svg" alt="Easybank" class="" width="175px">
    <div id="nav-items" class="fixed lg:static  transition-[left] ease-out duration-500 right-0 left-full top-20  mt-4 lg:mt-0 mx-auto p-4 rounded-md bg-white w-[80%] lg:w-auto">
      <div class="flex flex-col lg:flex-row text-lg justify-center items-center p-4 lg:p-0 gap-4 lg:gap-8">
        <a href="#" class="relative text-grayish-blue transition-colors hover:text-black px-1 text-center my-border before:bg-gradient-to-l before:to-lime-green before:from-bright-cyan">Home</a>
        <a href="#" class="relative text-grayish-blue transition-colors hover:text-black px-1 text-center my-border before:bg-gradient-to-l before:to-lime-green before:from-bright-cyan">About</a>
        <a href="#" class="relative text-grayish-blue transition-colors hover:text-black px-1 text-center my-border before:bg-gradient-to-l before:to-lime-green before:from-bright-cyan">Contact</a>
        <a href="#" class="relative text-grayish-blue transition-colors hover:text-black px-1 text-center my-border before:bg-gradient-to-l before:to-lime-green before:from-bright-cyan">Blog</a>
        <a href="#" class="relative text-grayish-blue transition-colors hover:text-black px-1 text-center my-border before:bg-gradient-to-l before:to-lime-green before:from-bright-cyan">Careers</a>
      </div>
    </div>
    
    <button class="w-7 lg:hidden" id="menu-btn" aria-label="toggle button menu">
      <span class="rounded-sm h-[3px] w-full transition-all relative my-1 block bg-lime-green"></span>
      <span class="rounded-sm h-[3px] w-full transition-all relative my-1 block bg-bright-cyan"></span>
      <span class="rounded-sm h-[3px] w-full transition-all relative my-1 block bg-lime-green"></span>
    </button>
    <button class="hidden lg:block bg-gradient-to-l text-white hover:opacity-70 transition-opacity py-3 px-8 rounded-full to-lime-green from-bright-cyan">
      Request Invite
    </button>
</div>
</nav>


<script>
  let btn = document.getElementById('menu-btn')
  let navItems = document.getElementById('nav-items')

  btn.addEventListener('click',function () {
    if (this.classList.contains('active')){
      this.classList.remove('active')
      this.classList.add('not-active')
      navItems.classList.remove('left-0')
      navItems.classList.add('left-full')
    }else{
      navItems.classList.remove('left-full')
      navItems.classList.add('left-0')
      this.classList.add('active')
      this.classList.remove('not-active')
    }
  })

</script>

<style>


.my-border::before{
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  transform: scaleX(0);
  height: 5px;
  bottom: calc(-100% - 4px);
  transition: transform .3s;
}

@media screen and (min-width:1024px) {
  .my-border:hover::before{
    transform: scaleX(1);
  }
}


  .active span:nth-child(1){
      animation: ease .7s top forwards;
  }
  .not-active span:nth-child(1){
      animation: ease .7s top-2 forwards;
  }

  .active span:nth-child(2){
    animation: ease .7s scaled forwards;
  }
  .not-active span:nth-child(2){
    animation: ease .7s scaled-2 forwards;
  }

  .active span:nth-child(3){
    animation: ease .7s bottom forwards;
  }
  .not-active span:nth-child(3){
    animation: ease .7s bottom-2 forwards;
  }


  @keyframes top {
    0%{
      top: 0;
      transform: rotate(0deg);
    }
    50%{
      top: 7px;
      transform: rotate(0deg);
    }
    100%{
      top: 7px;
      transform: rotate(45deg);
    }
  }
  @keyframes top-2 {
    0%{
      top: 7px;
      transform: rotate(45deg);
    }
    50%{
      top: 7px;
      transform: rotate(0deg);
    }
    100%{
      top: 0px;
      transform: rotate(0deg);
    }
  }
  @keyframes scaled {

    from{
      transform: scale(1);
    }
    to{
      transform: scale(0);
    }
  }
  @keyframes scaled-2 {
    0%{
      transform: scale(0);
    }
    50%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
  }
  @keyframes bottom {
    0%{
      top: 0px;
      transform: rotate(0deg);
    }
    50%{
      top: -7px;
      transform: rotate(0deg);
    }
    100%{
      top: -7px;
      transform: rotate(135deg);
    }
  }
  @keyframes bottom-2 {
    0%{
      top: -7px;
      transform: rotate(135deg);
    }
    50%{
      top: -7px;
      transform: rotate(0deg);
    }
    100%{
      top: 0px;
      transform: rotate(0deg);
    }
  }
</style>